In [43]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.12.1/lib/python3.12/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [44]:
import pandas as pd
import numpy as np

ecomerce_df = pd.read_excel("E Commerce Dataset only.xlsx")

In [45]:
ecomerce_df.shape

(5630, 20)

In [46]:
display(ecomerce_df)

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,150.71
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,224.91
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186.42
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,178.90
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169.04

In [47]:
ecomerce_df.duplicated().sum()

np.int64(0)

In [48]:
ecomerce_df.isnull().sum()

CustomerID                       0
Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [49]:
ecomerce_df.isnull().sum().sum()

np.int64(1856)

In [50]:
ecomerce_df.describe()

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5630.000000,5366.000000,5630.000000,5379.000000,5375.000000,5630.000000,5630.000000,5630.000000,5630.000000,5365.000000,5374.000000,5372.000000,5323.000000,5630.000000
mean,52815.500000,0.168384,10.189899,1.654707,15.639896,2.931535,3.688988,3.066785,4.214032,0.284902,15.707922,1.751023,3.008004,4.543491,177.223030
std,1625.385339,0.374240,8.557241,0.915389,8.531475,0.721926,1.023999,1.380194,2.583586,0.451408,3.675485,1.894621,2.939680,3.654433,49.207036
min,50001.000000,0.000000,0.000000,1.000000,5.000000,0.000000,1.000000,1.000000,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,0.000000
25%,51408.250000,0.000000,2.000000,1.000000,9.000000,2.000000,3.000000,2.000000,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,145.770000
50%,52815.500000,0.000000,9.000000,1.000000,14.000000,3.000000,4.000000,3.000000,3.000000,0.000000,15.000000,1.000000,2.000000,3.000000,163.280000
75%,54222.750000,0.000000,16.000000,3.000000,20.000000,3.000000,4.000000,4.000000,6.000000,1.000000,18.000000,2.000000,3.000000,7.000000,196.392500
max,55630.000000,1.000000,61.000000,3.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,26.000000,16.000000,16.000000,46.000000,324.990000

In [51]:
ecomerce_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [52]:
ecomerce_df.value_counts()

CustomerID  Churn  Tenure  PreferredLoginDevice  CityTier  WarehouseToHome  PreferredPaymentMode  Gender  HourSpendOnApp  NumberOfDeviceRegistered  PreferedOrderCat    SatisfactionScore  MaritalStatus  NumberOfAddress  Complain  OrderAmountHikeFromlastYear  CouponUsed  OrderCount  DaySinceLastOrder  CashbackAmount
50001       1      4.0     Mobile Phone          3         6.0              Debit Card            Female  3.0             3                         Laptop & Accessory  2                  Single         9                1         11.0                         1.0         1.0         5.0                159.93            1
50004       1      0.0     Phone                 3         15.0             Debit Card            Male    2.0             4                         Laptop & Accessory  5                  Single         8                0         23.0                         0.0         1.0         3.0                134.07            1
50006       1      0.0     Computer              1         22.0             Debit Card            Female  3.0             5                         Mobile Phone        5                  Single         2                1         22.0                         4.0         6.0         7.0                139.19            1
50012       1      11.0    Mobile Phone          1         6.0              Debit Card            Male    3.0             4                         Fashion             3                  Single         10               1         13.0                         0.0         1.0         0.0                153.81            1
50013       1      0.0     Phone                 1         11.0             COD                   Male    2.0             3                         Mobile              3                  Single         2                1         13.0                         2.0         2.0         2.0                134.41            1
                                                                                                                                                                                                                                                                                                                              ..
55625       0      1.0     Mobile Phone          3         12.0             UPI                   Female  2.0             5                         Mobile Phone        3                  Single         2                0         19.0                         2.0         2.0         1.0                154.66            1
55626       0      10.0    Computer              1         30.0             Credit Card           Male    3.0             2                         Laptop & Accessory  1                  Married        6                0         18.0                         1.0         2.0         4.0                150.71            1
55628       0      1.0     Mobile Phone          1         11.0             Debit Card            Male    3.0             2                         Laptop & Accessory  4                  Married        3                1         21.0                         1.0         2.0         4.0                186.42            1
55629       0      23.0    Computer              3         9.0              Credit Card           Male    4.0             5                         Laptop & Accessory  4                  Married        4                0         15.0                         2.0         2.0         9.0                178.90            1
55630       0      8.0     Mobile Phone          1         15.0             Credit Card           Male    3.0             2                         Laptop & Accessory  3                  Married        4                0         13.0                         2.0         2.0         3.0                169.04            1
Name: count, Length: 3774, dtype: int64

In [53]:
(ecomerce_df.isnull().sum() / len(ecomerce_df)) * 100

CustomerID                     0.000000
Churn                          0.000000
Tenure                         4.689165
PreferredLoginDevice           0.000000
CityTier                       0.000000
WarehouseToHome                4.458259
PreferredPaymentMode           0.000000
Gender                         0.000000
HourSpendOnApp                 4.529307
NumberOfDeviceRegistered       0.000000
PreferedOrderCat               0.000000
SatisfactionScore              0.000000
MaritalStatus                  0.000000
NumberOfAddress                0.000000
Complain                       0.000000
OrderAmountHikeFromlastYear    4.706927
CouponUsed                     4.547069
OrderCount                     4.582593
DaySinceLastOrder              5.452931
CashbackAmount                 0.000000
dtype: float64

In [54]:
median_Tenure = ecomerce_df['Tenure'].median()
print(median_Tenure)

9.0

In [55]:
ecomerce_df['Tenure'].fillna(median_Tenure, inplace=True)

/tmp/ipykernel_6415/1901201329.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ecomerce_df['Tenure'].fillna(median_Tenure, inplace=True)

In [56]:
WarehouseToHome_median = ecomerce_df['WarehouseToHome'].median()
print(WarehouseToHome_median)

14.0

In [57]:
ecomerce_df['WarehouseToHome'].fillna(WarehouseToHome_median, inplace=True)

/tmp/ipykernel_6415/25355649.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ecomerce_df['WarehouseToHome'].fillna(WarehouseToHome_median, inplace=True)

In [58]:
HourSpendOnApp_mean = ecomerce_df['HourSpendOnApp'].mean()
print(HourSpendOnApp_mean)

2.9315348837209303

In [59]:
ecomerce_df['HourSpendOnApp'].fillna(HourSpendOnApp_mean, inplace=True)

/tmp/ipykernel_6415/3285002945.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ecomerce_df['HourSpendOnApp'].fillna(HourSpendOnApp_mean, inplace=True)

In [60]:
OrderAmountHikeFromlastYear_mean = ecomerce_df['OrderAmountHikeFromlastYear'].mean()
print(OrderAmountHikeFromlastYear_mean)

15.707921714818266

In [61]:
ecomerce_df['OrderAmountHikeFromlastYear'].fillna(OrderAmountHikeFromlastYear_mean, inplace=True)

/tmp/ipykernel_6415/519964949.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ecomerce_df['OrderAmountHikeFromlastYear'].fillna(OrderAmountHikeFromlastYear_mean, inplace=True)

In [62]:
CouponUsed_median = ecomerce_df['CouponUsed'].median() 
print(CouponUsed_median)

1.0

In [63]:
ecomerce_df['CouponUsed'].fillna(CouponUsed_median, inplace=True)

/tmp/ipykernel_6415/2253733160.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ecomerce_df['CouponUsed'].fillna(CouponUsed_median, inplace=True)

In [64]:
OrderCount_mean = ecomerce_df['OrderCount'].mean()
print(OrderCount_mean)

3.0080044676098288

In [65]:
ecomerce_df['OrderCount'].fillna(OrderCount_mean, inplace=True)

/tmp/ipykernel_6415/885960797.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ecomerce_df['OrderCount'].fillna(OrderCount_mean, inplace=True)

In [66]:
DaySinceLastOrder_median = ecomerce_df['DaySinceLastOrder'].median()
print(DaySinceLastOrder_median)

3.0

In [67]:
ecomerce_df['DaySinceLastOrder'].fillna(DaySinceLastOrder_median, inplace=True)

/tmp/ipykernel_6415/3566763958.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ecomerce_df['DaySinceLastOrder'].fillna(DaySinceLastOrder_median, inplace=True)

In [68]:
ecomerce_df.MaritalStatus

0        Single
1        Single
2        Single
3        Single
4        Single
         ...
5625    Married
5626    Married
5627    Married
5628    Married
5629    Married
Name: MaritalStatus, Length: 5630, dtype: object

In [69]:
ecomerce_df['Gender_boolean'] = np.where(ecomerce_df['Gender'] == 'Male', 1, 0)

In [70]:
ecomerce_df["MS_Married"] = (ecomerce_df["MaritalStatus"] == "Married").astype(int)
ecomerce_df["MS_Single"] = (ecomerce_df["MaritalStatus"] == "Single").astype(int)
ecomerce_df["MS_Divorced"] = (ecomerce_df["MaritalStatus"] == "Divorced").astype(int)

In [71]:
ecomerce_df["PreferredLoginDevice"].value_counts()

PreferredLoginDevice
Mobile Phone    2765
Computer        1634
Phone           1231
Name: count, dtype: int64

In [74]:
ecomerce_df['PreferredLoginDevice_boolean'] = np.where(ecomerce_df['PreferredLoginDevice'].isin(['Phone','Mobile Phone']), 1, 0)

In [83]:
ecomerce_df

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,...,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount,Gender_boolean,MS_Married,MS_Single,MS_Divorced,PreferredLoginDevice_boolean
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.000000,3,...,11.0,1.0,1.0,5.0,159.93,0,0,1,0,1
1,50002,1,9.0,Phone,1,8.0,UPI,Male,3.000000,4,...,15.0,0.0,1.0,0.0,120.90,1,0,1,0,1
2,50003,1,9.0,Phone,1,30.0,Debit Card,Male,2.000000,4,...,14.0,0.0,1.0,3.0,120.28,1,0,1,0,1
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.000000,4,...,23.0,0.0,1.0,3.0,134.07,1,0,1,0,1
4,50005,1,0.0,Phone,1,12.0,CC,Male,2.931535,3,...,11.0,1.0,1.0,3.0,129.60,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.000000,2,...,18.0,1.0,2.0,4.0,150.71,1,1,0,0,0
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.000000,5,...,16.0,1.0,2.0,3.0,224.91,1,1,0,0,1
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.000000,2,...,21.0,1.0,2.0,4.0,186.42,1,1,0,0,1
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.000000,5,...,15.0,2.0,2.0,9.0,178.90,1,1,0,0,0
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.000000,2,...,13.0,2.0,2.0,3.0,169.04,1,1,0,0,1